---
import "fulldev-ui/components/Card.astro";
---

<div class="basis-[680px] grow-[3]">
    <div class="card frame-panel w-full color-brand">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac quam
        sit amet magna vestibulum interdum. Vestibulum elementum fringilla
        pulvinar. Donec hendrerit massa vel justo facilisis consequat. Etiam ut
        commodo nulla. Praesent nec turpis urna. Phasellus id libero in leo
        faucibus posuere. Nulla facilisi. Nullam faucibus libero pulvinar. Donec
        hendrerit massa vel justo facilisis consequat. Etiam ut commodo nulla.
        Praesent nec turpis urna. Phasellus id libero in leo faucibus posuere.
        Nulla facilisi. Nullam faucibus libero faucibus posuere. Nulla facilisi.
        Nullam faucibus libero pulvinar. Donec hendrerit massa vel justo
        facilisis consequat. Etiam ut commodo nulla. Praesent nec turpis urna.
        Phasellus id libero in leo faucibus posuere. Nulla facilisi. Nullam
        faucibus libero faucibus posuere. Nulla facilisi. Nullam faucibus libero
        pulvinar. Donec hendrerit massa vel justo facilisis consequat. Etiam ut
        commodo nulla. Praesent nec turpis urna. Phasellus id libero in leo
        faucibus posuere. Nulla facilisi. Nullam faucibus libero faucibus
        posuere. Nulla facilisi. Nullam faucibus libero pulvinar. Donec
        hendrerit massa vel justo facilisis consequat. Etiam ut commodo nulla.
        Praesent nec turpis urna. Phasellus id libero in leo faucibus posuere.
        Nulla facilisi. Nullam faucibus libero faucibus posuere. Nulla facilisi.
        Nullam faucibus libero pulvinar. Donec hendrerit massa vel justo
        facilisis consequat. Etiam ut commodo nulla. Praesent nec turpis urna.
        Phasellus id libero in leo faucibus posuere. Nulla facilisi. Nullam
        faucibus libero faucibus posuere. Nulla facilisi. Nullam faucibus libero
        pulvinar. Donec hendrerit massa vel justo facilisis consequat. Etiam ut
        commodo nulla. Praesent nec turpis urna. Phasellus id libero in leo
        faucibus posuere. Nulla facilisi. Nullam faucibus libero faucibus
        posuere. Nulla facilisi. Nullam faucibus libero pulvinar. Donec
        hendrerit massa vel justo facilisis consequat. Etiam ut commodo nulla.
        Praesent nec turpis urna. Phasellus id libero in leo faucibus posuere.
        Nulla facilisi. Nullam faucibus libero faucibus posuere. Nulla facilisi.
        Nullam faucibus libero pulvinar. Donec hendrerit massa vel justo
        facilisis consequat. Etiam ut commodo nulla. Praesent nec turpis urna.
        Phasellus id libero in leo faucibus posuere. Nulla facilisi. Nullam
        faucibus libero faucibus posuere. Nulla facilisi. Nullam faucibus libero
        pulvinar. Donec hendrerit massa vel justo facilisis consequat. Etiam ut
        commodo nulla. Praesent nec turpis urna. Phasellus id libero in leo
        faucibus posuere. Nulla facilisi. Nullam faucibus libero faucibus
        posuere. Nulla facilisi. Nullam faucibus libero pulvinar. Donec
        hendrerit massa vel justo facilisis consequat. Etiam ut commodo nulla.
        Praesent nec turpis urna. Phasellus id libero in leo faucibus posuere.
        Nulla facilisi. Nullam faucibus libero faucibus posuere. Nulla facilisi.
        Nullam faucibus libero pulvinar. Donec hendrerit massa vel justo
        facilisis consequat. Etiam ut commodo nulla. Praesent nec turpis urna.
        Phasellus id libero in leo faucibus posuere. Nulla facilisi. Nullam
        faucibus libero
    </div>
</div>
